:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}
html{
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ffffff;
  color: #333;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 20px;
}



button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img {
  border-radius: 8px;
  object-fit: cover;
}


